.Card-description{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px
}
.CardView-container{
    padding-left: 30px;
    padding-right: 30px   
}
.table{
    display: flex;
    
    padding-right: 300px  
}
.Store-compare{
    align-content: center;
}
